force-app/main/default/flows/Payments_Verify_TaxId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Tax_Validation_Status</name>
        <label>Get Tax Validation Status</label>
        <locationX>556</locationX>
        <locationY>99</locationY>
        <actionName>Payments_CallTaxValidationFlowList</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>inputtaxidlist</name>
            <value>
                <elementReference>r_LeadRecord.Tax_ID_Number__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>v_ResponseText</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Respond_TaxID_Empty</name>
        <label>Respond TaxID Empty</label>
        <locationX>385</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>v_ResponseText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TaxID is Empty</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>c_AccountType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MerchantType</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_CreateAcctSuccess</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Created Successfully</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_CreationNotReady</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Status Pending</stringValue>
        </value>
    </constants>
    <decisions>
        <name>TaxID_Empty_Check</name>
        <label>TaxID Empty Check</label>
        <locationX>384</locationX>
        <locationY>107</locationY>
        <defaultConnector>
            <targetReference>Get_Tax_Validation_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TaxID is Not Empty</defaultConnectorLabel>
        <rules>
            <name>TaxID_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>r_LeadRecord.Tax_ID_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Respond_TaxID_Empty</targetReference>
            </connector>
            <label>TaxID is Empty</label>
        </rules>
    </decisions>
    <formulas>
        <name>f_TrimCompany</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!r_LeadRecord.Company},&quot; &quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Verify TaxId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify TaxId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LeadRecord</name>
        <label>Get LeadRecord</label>
        <locationX>190</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaxID_Empty_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>r_LeadRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Tax_ID_Number__c</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_LeadRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col_FinAccts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>col_singleFinAcct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinServ__FinancialAccount__c</objectType>
    </variables>
    <variables>
        <name>r_LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>v_LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ResponseText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Failure</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_TrimCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
